.menetrendpont {
    color: white !important
}

.menetrendkeret {
    border:  5px solid  white !important;
    border-radius: 12px;
}

.infopic {
    max-height: 15rem;
    max-width: 30rem;
}

.menetrend {
    padding-top: 5rem !important;
}


h1, h2, h3, .text-intro-wrap .text-intro h2, h4